*{

    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

}

body {

    background-color: #000000;

}

.banner > .banner-image {

    /*border: 1px dashed red;*/
    display: block;
    object-fit: cover;
    object-position: top bottom;
    filter: brightness(35%);
    width: 1700px;
    height: 210px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 100px;
    margin-left: 100px;

}

.banner .testo-image {

    /*border: 1px dashed red;*/
    font-family: Rockwell;
    z-index: 1;
    position: relative;
    text-align: center;
    left: 0;
    right: 0;
    top: -120px;
    bottom: 0;
    color: #fFffff;
    margin-top: -90px;
    margin-bottom: 0px;
    margin-right: 100px;
    margin-left: 100px;
    padding-top: 70px;
    font-size: 25px;

}

.banner .testo-image .menu > li {

    /*border: 1px dashed red;*/
    z-index: 1;
    display: inline-block;
    padding: 25px;
    position: relative;
    text-align: center;
    left: 685px;
    top: -120px;
    font-weight: bold;
    
}

.menu > li > a{

    /*border: 1px dashed red;*/
    text-decoration: none;
    color: #ffffff;

}

.menu > li > a:hover {

    /*border: 1px dashed red;*/
    color: #3a3a3a;

}

.text {

    z-index: 1;
    /*border: 1px dashed red;*/
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 100px;
    margin-left: 100px;
    background: #2d2d2d;

}

.testo {

    /*border: 1px dashed red;*/
    text-align: left;
    font-family: Roboto;
    color: #ffffff;
    font-size: 20px;
    margin-top: -115px;
    margin-bottom: 25px;
    margin-right: 70px;
    margin-left: 70px;

}

img {
    
    max-width: 100%;
    max-height: 100%;

}

.img1 {
    
    /*border: 1px dashed red;*/
    width: 200px;
    height: 200px;
    margin-top: -260px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 1350px;
    object-fit: cover;
    
}

.img2 {
    
    /*border: 1px dashed red;*/
    width: 220px;
    height: 247px;
    margin-top: -225px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 1100px;
    object-fit: cover;

}

.img3 {
    
    max-width: 100%;
    max-height: 100%;
    /*border: 1px dashed red;*/
    width: 300px;
    height: 630px;
    margin-top: 65px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 70px;
    object-fit: cover;

}

.img4 {
    
    max-width: 100%;
    max-height: 100%;
    /*border: 1px dashed red;*/
    width: 380px;
    height: 631px;
    margin-top: -683px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 1250px;
    object-fit: cover;
   
}

.img5 {
    
    max-width: 100%;
    max-height: 100%;
    /*border: 1px dashed red;*/
    width: 900px;
    height: 500px;
    margin-top: -300px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 70px;
    object-fit: cover;
   
}

.testo2 {

    /*border: 1px dashed red;*/
    text-align: left;
    margin: 20px;
    font-family: Roboto;
    color: #ffffff;
    font-size: 20px;
    margin-top: -632px;
    margin-bottom: 50px;
    margin-right: 480px;
    margin-left: 402px;

}

.testo3 {

    /*border: 1px dashed red;*/
    text-align: right;
    color: #ffffff;
    font-family: Roboto;
    font-size: 25px;
    margin-top: 230px;
    margin-bottom: 0px;
    margin-right: 100px;
    margin-left: 100px;

}

.testo3 > h4 {

    font-weight: bold;
    font-size: 25px;

}

.testo > h4 {

    font-weight: bold;
    font-size: 25px;
    
}

.testo2 > h4 {

    font-weight: bold;
    font-size: 25px;

}

.testo2 > h5 {

    font-weight: bold;
    font-size: 20px;

}

.footer {

    color:#ffffff;
    /*border: 1px dashed red;*/
    font-size: 20px;
    font-family: arial;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;

}