@media screen and (max-width: 1080px) {

    .box {

        width: 100%;

    }

    .box1 {

        height: 80px;

    }

    .box2 {

        width: 100%;
        height: 500px;
        
        
    }

    .img1 {

        top: 15%;
        left: 36%;
        /*right: 50%;*/
        /*bottom: 10%;*/
        /*border: 1px solid white;*/

    }

    .t-master {

        top: 5%;

    }

    .t-leonardo {

        top: 5%;

    }

    .box3 {

        width: 100%;
        height: 500px;
        
    }

    .img2 {

        width: 270px;
        height: 270px;
        position: relative;
        top: 15%;
        left: 36%;
        /*right: 10%;*/
        /*bottom: 10%;*/
        /*border: 1px solid white;*/
    
    
    }

    .t-designer {

        top: 5%;

    }

    .t-matteo {

        top: 5%;

    }


    .box4 {

        width: 100%;
        height: 500px;
        
    }

    .img3 {

        top: 15%;
        left: 36%;
        /*right: 10%;*/
        /*bottom: 10%;*/
        /*border: 1px solid white;*/
    
    }

    .t-architect {

        top: 5%;

    }

    .t-valerio {

        top: 5%;

    }

    .box6 {

        width: 100%;

    }

}

@media screen and (max-width: 280px) {

    .box {

        width: 100%;

    }

    .t-img {

        top: -10%;
        font-size: 12px;
        
    }

    .menu {

        top: 55%;
        left: 0%;
        text-align: center;
        font-size: 12px;
    
    }

    .menu > li {

        display: inline-block;
        padding: 4px;
        font-weight: bold;
        /*border: 1px solid white;*/
    
    }

    .box1 {

        height: 50px;
        
    }

    .box2 {

        width: 100%;
        height: 180px;
        
    }

    .img1 {

        top: 4%;
        left: 32%;
        width: 100px;
        height: 100px;
        border-radius: 1000px;
        /*right: 10%;*/
        /*bottom: 10%;*/
        /*border: 1px solid white;*/

    }

    .t-master {

        position: absolute;
        top: 70%;
        font-size: 16px;
       
    }

    .t-leonardo {

        position: absolute;
        top: 80%;
        font-size: 16px;
       
    }

    .box3 {

        width: 100%;
        height: 180px;
        
    }

    .img2 {

        top: 4%;
        left: 32%;
        width: 100px;
        height: 100px;
        border-radius: 1000px;
        /*right: 10%;*/
        /*bottom: 10%;*/
        /*border: 1px solid white;*/
    
    
    }

    .t-designer {

        position: absolute;
        top: 70%;
        font-size: 16px;
       
    }

    .t-matteo {

        position: absolute;
        top: 80%;
        font-size: 16px;
       
    }

    .box4 {

        width: 100%;
        height: 180px;
        
    }

    .img3 {

        top: 4%;
        left: 32%;
        width: 100px;
        height: 100px;
        border-radius: 1000px;
        /*right: 10%;*/
        /*bottom: 10%;*/
        /*border: 1px solid white;*/
    
    }

    .t-architect {

        position: absolute;
        top: 140%;
        font-size: 16px;

    }

    .t-valerio {

        position: absolute;
        top: 145%;
        font-size: 16px;

    }

    .t-footer {

        font-size: 10px;
        height: 5px;
       
    }

    .t-chi {

        font-size: 16px;
        font-weight: bold;
        top: 30%;
    
    }

    .box5 {

        width: 100%;
        height: 150px;
        
    }

}