@media (min-width: 481px) and (max-width: 767px) {

    *{

        /*border: 1px solid white;*/
    
    }
    
    body, html {

        /*border: 1px solid white;*/
    
    }
    
    .area {

        /*border: 1px solid white;*/
    
    }
    
    .box {
    
        /*border: 1px solid white;*/
    
    }
    
    .box0 {

        /*border: 1px solid white*/
        
    }
    
    .banner-img {

        /*border: 1px solid white;*/
        
    }
    
    .titolo-img {
    
        font-size: 16px;
        /*border: 1px solid white;*/
        
    }
    
    .menu {
        
        text-align: center;
        top: 60%;
        right: 0%;
        left: 0%;
        bottom: 0%;
        font-size: 16px;
        /*border: 1px solid white;*/
    
    }
    
    .menu > li {
    
        /*border: 1px solid white;*/
    
    }
    
    .menu > li > a{

        /*border: 1px solid white;*/
    
    }
    
    .menu > li > a:hover {
    
        /*border: 1px solid white;*/
    
    }
    
    .box1 {
    
        width: 100%;
        height: fit-content;
        /*border: 1px solid white;*/
        
    }
    
    .t-indirizzo {
    
        text-align: center;
        font-size: 18px;
        /*border: 1px solid white;*/
    
    }
    
    .t-in {
    
        text-align: center;
        font-size: 16px;
        padding: 5px 0px 35px 0px;
        /*border: 1px solid white;*/
    
    }
    
    .box2 {
    
        width: 50%;
        height: 350px;
        /*border: 1px solid white;*/
        
    
    }
    
    .immagine1 {

        /*border: 1px solid white;*/

    }
    
    .img1 {
    
        width: 180px;
        height: 210px;
        /*border: 1px solid white;*/
    
    }
    
    .box3 {
    
        width: 50%;
        height: 350px;
        /*border: 1px solid white;*/
    
    }
    
    .immagine2 {
    
        width: 100%;
        height: 350px;
        /*border: 1px solid white;*/
    
    }
    
    .img2 {
    
        width: 235px;
        height: 235px;
        /*border: 1px solid white;*/
    
    }
    
    .box4 {
    
        width: 100%;
        height: 400px;
        /*border: 1px solid white;*/
    
    
    }
    
    .immagine3 {
    
        width: 100%;
        height: 350px;
        /*border: 1px solid white;*/
        
    }
    
    .img3 {
    
        width: 180px;
        height: 350px;
        /*border: 1px solid white;*/
    
    }
    
    .box5 {
    
        width: 100%;
        height: fit-content;
        /*border: 1px solid white;*/
    
    }
    
    .t-profilo {
    
        text-align: center;
        font-size: 16px;
        width: 90%;
        top: 0%;
        left: 50%;
        transform: translate(-50%, 0%);
        /*border: 1px solid white;*/
    
    }
    
    .t-tecnico {
    
        text-align: center;
        font-size: 16px;
        width: 90%;
        top: 0%;
        left: 50%;
        transform: translate(-50%, 0%);
        /*border: 1px solid white;*/
    
    }
    
    .t-descrizione {
    
        text-align: center;
        font-size: 16px;
        width: 90%;
        top: 0%;
        left: 50%;
        transform: translate(-50%, 0%);
        /*border: 1px solid white;*/
    
    }
    
    .box6 {
    
        width: 100%;
        height: 400px;
        /*border: 1px solid white;*/
    
    }
    
    .immagine4 {
    
        width: 100%;
        height: 400px;
        /*border: 1px solid white;*/
    
    }
    
    .img4 {
    
        width: 210px;
        height: 380px;
        /*border: 1px solid white;*/
    
    }
    
    .box7 {
    
        width: 100%;
        height: 300px;
        /*border: 1px solid white;*/
    
    }
    
    .immagine5 {
    
        width: 100%;
        height: 300px;
        /*border: 1px solid white;*/
    
    }
    
    .img5 {
    
        width: 400px;
        height: 250px;
        /*border: 1px solid white;*/
    
    }
    
    .box8 {
    
        width: 100%;
        height: fit-content;
        /*border: 1px solid white;*/
    
    }
    
    .t-info {
    
        font-size: 16px;
        /*border: 1px solid white;*/
    
    }
    
    .t-sito {
    
        font-size: 16px;
        /*border: 1px solid white;*/
        
    }
    
    .box9 {
    
        width: 100%;
        height: 100px;
        /*border: 1px solid white;*/
    
    }
    
    
    .t-footer {
    
        font-size: 14px;
        /*border: 1px solid white;*/
       
    }
        
}