@media (min-width: 1281px) {
    
    *{

        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
        /*border: 1px solid white;*/
    
    }
    
    body, html {
    
        background-color: #141414;
        height: 100%;
        width: 100%;
        /*border: 1px solid white;*/
    
    }
    
    .area {
    
        height: 100%;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        /*border: 1px solid white;*/
    
    }
    
    .box {
    
        float: left;
        justify-self: center;
        align-items: center;
        /*width: 100%;*/
        /*height: 150px;*/
        /*border: 1px solid white;*/
    
    }
    
    .box0 {
    
        height: 200px;
        background-color: red;
        position: relative;
        background-color: #282828;
        /*border: 1px solid white;*/
        
        
    }
    
    .banner-image {
    
        width: 100%;
        height: 200px;
        object-fit: cover;
        filter: brightness(40%);
        position: relative;
        /*border: 1px solid white;*/
        
    }
    
    .t-img {
    
        width: 50%;
        height: 40px;
        text-align: center;
        position: absolute;
        top: 0%;
        left: 0%;
        right: 0%;
        bottom: 5%;
        margin: auto;
        color: white;
        font-family: rockwell;
        font-size: 18px;
        /*border: 1px solid white;*/
        
    }
    
    .menu {
    
        width: 25%;
        height: 40px;
        text-align: right;
        position: absolute;
        margin: auto;
        top: 2%;
        right: 1%;
        font-size: 18px;
        font-family:rockwell;
        /*border: 1px solid white;*/
    
    }
    
    .menu > li {
    
        display: inline-block;
        padding: 15px;
        font-weight: bold;
        /*border: 1px solid white;*/
    
    }
    
    .menu > li > a{
    
        text-decoration: none;
        color: #ffffff;
        /*border: 1px solid white;*/
    
    }
    
    .menu > li > a:hover {
    
        color: #3a3a3a;
        /*border: 1px solid white;*/
    
    }
    
    .box1 {
    
        width: 55%;
        height: 350px;
        background-color: orange;
        position: relative;
        background-color: #282828;
        /*border: 1px solid white;*/
        
    }
    
    .t-testo {
    
        text-align: right;
        position: relative;
        font-size: 20px;
        font-weight: bold;
        font-family: roboto;
        width: 100%;
        height: 30px;
        top: 10%;
        color: #ffffff;
        /*border: 1px solid white;*/
    
    }
    
    .indirizzo {
    
        text-align: justify;
        position: relative;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        font-size: 18px;
        font-family: roboto;
        width: 100%;
        height: 250px;
        top: 10%;
        color: #ffffff;
        /*border: 1px solid white;*/
    
    }
    
    .box2 {
    
        width: 25%;
        height: 350px;
        position: relative;
        background-color: yellow;
        background-color: #282828;
        /*border: 1px solid white;*/
    
    }
    
    .immagine1 {
    
        width: 100%;
        height: 350px;
        position: relative;
        /*border: 1px solid white;*/
    
    }
    
    .img1 {
    
        width: 220px;
        height: 250px;
        position: relative;
        top: 15%;
        left: 14%;
        /*right: 10%;*/
        /*bottom: 10%;*/
        /*border: 1px solid white;*/
    
    }
    
    .box3 {
    
        width: 20%;
        height: 350px;
        position: relative;
        background-color: green;
        background-color: #282828;
        /*border: 1px solid white;*/
    
    }
    
    .immagine2 {
    
        width: 100%;
        height: 300px;
        position: relative;
        /*border: 1px solid white;*/
    
    }
    
    .img2 {
    
        width: 200px;
        height: 200px;
        position: relative;
        top: 25%;
        left: 8%;
        /*right: 10%;*/
        /*bottom: 10%;*/
        /*border: 1px solid white;*/
    
    
    }
    
    .box4 {
    
        width: 20%;
        height: 600px;
        background-color: blue;
        background-color: #282828;
        /*border: 1px solid white;*/
    
    
    }
    
    .immagine3 {
    
        width: 100%;
        height: 600px;
        position: relative;
        /*border: 1px solid white;*/
        
    }
    
    .img3 {
    
        width: 210px;
        height: 410px;
        position: relative;
        top: 15%;
        left: 5%;
        /*right: 10%;*/
        /*bottom: 10%;*/
        /*border: 1px solid white;*/
    
    }
    
    .box5 {
    
        width: 60%;
        height: 600px;
        background-color: cyan;
        background-color: #282828;
        /*border: 1px solid white;*/
    
    }
    
    .t-profilo {
    
        text-align: center;
        position: relative;
        font-size: 20px;
        font-family: roboto;
        width: 100%;
        height: 30px;
        top: 4%;
        color: #ffffff;
        /*border: 1px solid white;*/
    
    
    }
    
    .t-tecnico {
    
        text-align: center;
        position: relative;
        font-size: 20px;
        font-family: roboto;
        width: 100%;
        height: 30px;
        top: 4%;
        color: #ffffff;
        /*border: 1px solid white;*/
    
    }
    
    .t-descrizione {
    
        text-align: justify;
        position: relative;
        font-size: 18px;
        font-family: roboto;
        width: 100%;
        height: 220px;
        top: 5%;
        color: #ffffff;
        /*border: 1px solid white;*/
    
    }
    
    .box6 {
    
        width:20%;
        height: 600px;
        background-color: brown;
        background-color: #282828;
        /*border: 1px solid white;*/
    
    }
    
    .immagine4 {
    
        width: 100%;
        height: 600px;
        position: relative;
        /*border: 1px solid white;*/
    
    }
    
    .img4 {
    
        width: 220px;
        height: 430px;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /*right: 10%;*/
        /*bottom: 10%;*/
        /*border: 1px solid white;*/
    
    }
    
    .box7 {
    
        width: 60%;
        height: 350px;
        background-color: pink;
        background-color: #282828;
        /*border: 1px solid white;*/
    
    }
    
    .immagine5 {
    
        width: 100%;
        height: 350px;
        position: relative;
        /*border: 1px solid white;*/
    
    }
    
    .img5 {
    
        width: 500px;
        height: 300px;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /*right: 10%;*/
        /*bottom: 10%;*/
        /*border: 1px solid white;*/
    
    }
    
    .box8 {
    
        width: 40%;
        height: 350px;
        background-color: purple;
        background-color: #282828;
        /*border: 1px solid white;*/
    
    }
    
    .t-info {
    
        text-align: center;
        position: relative;
        font-size: 20px;
        font-family: roboto;
        width: 100%;
        height: 25px;
        top: 40%;
        color: #ffffff;
        /*border: 1px solid white;*/
    
    }
    
    .t-sito {
    
        text-align: center;
        position: relative;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        font-size: 18px;
        font-family: roboto;
        width: 100%;
        height: 50px;
        top: 45%;
        color: #ffffff;
        /*border: 1px solid white;*/
        
    }
    
    .box9 {
    
        width: 100%;
        height: 100px;
        background-color: grey;
        background-color: #282828;
        /*border: 1px solid white;*/
    
    }
    
    
    .t-footer {
    
        text-align: center;
        position: relative;
        font-size: 20px;
        font-family: 'Times New Roman';
        width: 100%;
        height: 20px;
        top: 100%;
        color: #ffffff;
        /*border: 1px solid white;*/
       
    }    

}
