@media (min-width: 1025px) and (max-width: 1280px) {
    
    *{

        /*border: 1px solid white;*/
    
    }
    
    body, html {
    
        /*border: 1px solid white;*/
    
    }
    
    .area {
    
        /*border: 1px solid white;*/
    
    }
    
    .box {
    
        /*border: 1px solid white;*/
    
    }
    
    .box0 {
        
        /*border: 1px solid white;*/
         
    }
    
    .banner-img {
    
        /*border: 1px solid white;*/
        
    }
    
    .titolo-img {
    
        /*border: 1px solid white;*/
        
    }
    
    .menu {
    
        /*border: 1px solid white;*/
    
    }
    
    .menu > li {
    
        /*border: 1px solid white;*/
    
    }
    
    .menu > li > a{
    
        /*border: 1px solid white;*/
    
    }
    
    .menu > li > a:hover {
    
        /*border: 1px solid white;*/
    
    }
    
    .box1 {
    
        width: 50%;
        height: 450px;
        /*border: 1px solid white;*/
        
    }
    
    .t-indirizzo {
    
        /*border: 1px solid white;*/
    
    }
    
    .t-in {

        /*border: 1px solid white;*/
    
    }
    
    .box2 {
    
        width: 30%;
        height: 450px;
        /*border: 1px solid white;*/
    
    }
    
    .immagine1 {
    
        height: 450px;
        /*border: 1px solid white;*/
    
    }
    
    .img1 {
    
        /*border: 1px solid white;*/
    
    }
    
    .box3 {
    
        height: 450px;
        /*border: 1px solid white;*/
    
    }
    
    .immagine2 {
    
        height: 450px;
        /*border: 1px solid white;*/
    
    }
    
    .img2 {
    
        /*border: 1px solid white;*/
    
    }
    
    .box4 {
    
        width: 25%;
        height: 750px;
        /*border: 1px solid white;*/
    
    }
    
    .immagine3 {
    
        height: 700px;
        /*border: 1px solid white;*/
        
    }
    
    .img3 {
    
        width: 210px;
        height: 450px;
        /*border: 1px solid white;*/
    
    }
    
    .box5 {
    
        width: 50%;
        height: 750px;
        /*border: 1px solid white;*/
    
    }
    
    .t-profilo {
    
        /*border: 1px solid white;*/
    
    }
    
    .t-tecnico {
    
        /*border: 1px solid white;*/
    
    }
    
    .t-descrizione {
    
        /*border: 1px solid white;*/
    
    }
    
    .box6 {
    
        width: 25%;
        height: 750px;
        /*border: 1px solid white;*/
    
    }
    
    .immagine4 {
    
        width: 100%;
        height: 700px;
        /*border: 1px solid white;*/
    
    }
    
    .img4 {
        
        /*border: 1px solid white;*/
    
    }
    
    .box7 {

        /*border: 1px solid white;*/
    
    }
    
    .immagine5 {

        /*border: 1px solid white;*/
    
    }
    
    .img5 {
    
        /*border: 1px solid white;*/
    
    }
    
    .box8 {
    
        /*border: 1px solid white;*/
    
    }
    
    .t-info {
    
        /*border: 1px solid white;*/
    
    }
    
    .t-sito {
    
        /*border: 1px solid white;*/
        
    }
    
    .box9 {
    
        /*border: 1px solid white;*/
    
    }
    
    
    .t-footer {

        font-size: 18px;
        /*border: 1px solid white;*/
       
    }    

}
